@{
    ViewBag.Title = "AboutUS";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>It is an application to generate the e-ticket for travelling </p>
<p>You can avail on the discounts on ticket booking prices in festival seasons</p>
<p>we ensure you a safe journey while travelling</p>