@{
    ViewBag.Title = "Home Page";
}
<h2>Travel Type</h2>
<div class="reservationtype">
    <img src="~/Pictures/Train.jpg" style="height:100px;width:100px; position:relative;left:190px;top:30px;" />
    <img src="~/Pictures/Bus.jpg" style="height: 100px; width: 100px; position: relative; left: 270px; top: 30px;" />
    <img src="~/Pictures/Plane.jpg" style="height: 100px; width: 100px; position: relative; left: 370px; top: 30px;" />
   
            <p style="position:relative;top:60px;left:200px">@Html.ActionLink("Train", "Train", "ReservationType") </p>
            <p style="position:relative;left:400px;top:30px;">@Html.ActionLink("Bus", "Bus", "ReservationType")</p>
            <p style="position:relative;left:600px;">@Html.ActionLink("Plane", "Plane", "ReservationType")</p>

     
    
</div>