
@{
    ViewBag.Title = "booking";
}

<h2>booking</h2>
 
<div class="container">
    <label>Name:<input type="text" /></label>
    <br />
    <label>Age:<input type="text" /></label>
    <br />
    <label>Gender:<select><option>Male</option><option>Female</option></select></label>
    <br />
    <br />
</div>
<div>
<button style="border:none;position:relative;">@Html.ActionLink("+addpassenger","booking","Retrive") </button>
<button style="border:none;position:relative;left:10px;">@Html.ActionLink("Next","Details","passengers")</button>
</div>